
	<form method="post">
	
		<div>
			<label for="GuranteedRate">Guranteed Rate</label>
			<input type="text" class="form-control" name="GuranteedRate" />
		</div>
		
		<div>
			<label for="GuranteedHours">Guranteed Hours</label>
			<input type="text" class="form-control" name="GuranteedHours" />
		</div>
		
		<div>
			<label for="HoursWorked">Actual Hours Worked</label>
			<input type="text" class="form-control" name="HoursWorked" />
		</div>
	
		<div>
			<input type="submit" name="option">
		</div>
	</form>
	
