<!DOCTYPE html>
<html>
<header>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> </header>
<body>
 <table class="table table-striped" >
<tr>
<td>Hr. Type</td>
<td>Hr/Pay</td>
<td>Hours</td>
<td>Paid</td>
<tr>
<tr>
<td>Regular</td>
	<td>{{entry.regular['rate'] }}</td>
	<td>{{entry.regular['hours']}}</td>
	<td>{{entry.regular['pay']  }}</td>
<tr>
<tr>
<td>Overtime</td>
	<td>{{entry.overtime['rate']}}</td>
	<td>{{entry.overtime['hours']}}</td>
	<td>{{entry.overtime['pay']}}</td>
<tr>
<tr>
<td>Double time</td>
	<td>{{entry.doubletime['rate']}}</td>
	<td>{{entry.doubletime['hours']}}</td>
	<td>{{entry.doubletime['pay']}}</td>
<tr>
<tr>
<td>TotalPay</td>
<td></td>
<td>{{entry.total['hours']}}</td>
<td>{{entry.total['pay']}}</td>
<tr>
</table></body>
</html>
