<!DOCTYPE html>
<html>
<header>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> </header>
<body>
 <table class="table table-striped" >
<tr>
<td>Hr. Type</td>
<td>Hr/Pay</td>
<td>Hours</td>
<td>Paid</td>
<tr>
<tr>
<td>Regular</td>
<td>{{HourlyRate}}</td>
<td>{{Reg_Hours}}</td>
<td>{{Reg_Pay}}</td>
<tr>
<tr>
<td>Overtime</td>
<td>{{Over_Time_Rate}}</td>
<td>{{Over_Time_Hours}}</td>
<td>{{Over_Time_Pay}}</td>
<tr>
<tr>
<td>Double time</td>
<td>{{Double_Time_Rate}}</td>
<td>{{Double_Time_Hours}}</td>
<td>{{Double_Time_Pay}}</td>
<tr>
<tr>
<td>TotalPay</td>
<td></td>
<td>{{Total_Hours}}</td>
<td>{{Total_Pay}}</td>
<tr>
</table></body>
</html>
